{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "UPC CLOUD 2017",
      "Space": "Proyecto UPC"
    },
    "Name": "PC1CASTILLONORA1",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}